<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>category list</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css"/> 



    <style>
        .card-left{
            height: 150px;
            object-fit: cover;
        }
        /* .card-desc{
            text-overflow: ellipsis;
            overflow:hidden;
        } */
    </style>

  </head>
  <body>
    <div class="container">

        <h1 class="mt-2">제주 전체보기</h1>
        <div class="row mt-3">

            <!-- 카테고리/지역 선택 -->
            <div class="col-md-3 mx-2">
                <div class="p-3" style="border: 1px solid lightgray; border-radius: 5px;">
                    <h5>카테고리</h5>
                    <input type="radio" name="category" id="c0" value="c0">
                    <label for="all">전체보기</label><br>
                    <input type="radio" name="category" id="c1" value="c1">
                    <label for="all">랜드마크</label><br>
                    <input type="radio" name="category" id="c2" value="c2">
                    <label for="all">맛집</label><br>
                    <input type="radio" name="category" id="c3" value="c3">
                    <label for="all">오락</label><br>
                    <input type="radio" name="category" id="c4" value="c4">
                    <label for="all">레저/스포츠</label><br>
                    <input type="radio" name="category" id="c5" value="c5">
                    <label for="all">캠핑/차박</label>
                    <br><br>
    
                    <h5>지역</h5>
                    <input type="radio" name="location" id="l0" value="l0">
                    <label for="all">전체보기</label><br>
                    <input type="radio" name="location" id="l1" value="l1">
                    <label for="all">서울</label><br>
                    <input type="radio" name="location" id="l2" value="l2">
                    <label for="all">충청도/대전</label><br>
                    <input type="radio" name="location" id="l3" value="l3">
                    <label for="all">전라도</label><br>
                    <input type="radio" name="location" id="l4" value="l4">
                    <label for="all">경기도</label><br>
                    <input type="radio" name="location" id="l5" value="l5">
                    <label for="all">강원도</label><br>
                    <input type="radio" name="location" id="l6" value="l6">
                    <label for="all">제주도</label><br>
                    <input type="radio" name="location" id="l7" value="l7">
                    <label for="all">경상도/부산</label>
                </div>
               
            </div>

            <!-- 장소 리스트 -->
            <div class="col mx-2">

                <!-- 정렬 select -->
                <nav class="navbar navbar-light justify-content-between">
                    <a class="navbar-brand"></a>
                    <select name="sort" id="sort">
                        <option value="like-count">찜 많은 순</option>
                        <option value="board-count">게시글 많은 순</option>
                        <option value="place-name">이름순</option>
                    </select>
                  </nav>

                <!-- 리스트 시작 -->
                <div class="card mb-4">
                    <div class="row p-3">
                        <div class="col-md-4">
                            <img class="img-fluid card-left" src="https://api.cdn.visitjeju.net/photomng/imgpath/201908/16/b7b0e09e-0724-4c47-a904-2d92428714a1.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">아부오름</h5>
                                <p class="card-text">
                                    <i class="fa fa-heart" aria-hidden="true"></i> <span id="like-cnt">0</span> &nbsp;&nbsp;&nbsp; <i class="fa fa-list" aria-hidden="true"></i> <span id="board-cnt">0</span>
                                </p>
                                <p class="card-text card-desc">오름 둘레까지 오르는데 어렵지 않게 오를 수 있고 제주오름의 모습을 가깝게 느낄 수 있어 최근 각광받고 있다. 오름 정상에 함지박과 같은 둥그런 굼부리가 파여있다. 특히 굼부리 안 원형 삼나무숲의 특징적인 모습이 주목받고 있다. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 리스트 끝 -->

                <!-- 리스트 시작 -->
                <div class="card mb-4">
                    <div class="row p-3">
                        <div class="col-md-4">
                            <img class="img-fluid card-left" src="https://api.cdn.visitjeju.net/photomng/imgpath/202105/14/600f0b14-4751-47b7-a31e-43a95efa8240.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">아르떼뮤지엄</h5>
                                <p class="card-text">
                                    <i class="fa fa-heart" aria-hidden="true"></i> <span id="like-cnt">0</span> &nbsp;&nbsp;&nbsp; <i class="fa fa-list" aria-hidden="true"></i> <span id="board-cnt">0</span>
                                </p>
                                <p class="card-text card-desc">아르떼뮤지엄은 몰입형 미디어아트를 체험할 수 있는 장소이다. 빛과 소리가 만드는 영원한 자연을 테마로, 해변, 파도, 폭포, 꽃, 달, 숲 등 10점의 작품을 관람할 수 있다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 리스트 끝 -->

                <!-- 리스트 시작 -->
                <div class="card mb-4">
                    <div class="row p-3">
                        <div class="col-md-4">
                            <img class="img-fluid card-left" src="https://www.visitjeju.net/ckImage/201611/ckeditor_760707530032599838.jpg" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">제주양떼목장</h5>
                                <p class="card-text">
                                    <i class="fa fa-heart" aria-hidden="true"></i> <span id="like-cnt">0</span> &nbsp;&nbsp;&nbsp; <i class="fa fa-list" aria-hidden="true"></i> <span id="board-cnt">0</span>
                                </p>
                                <p class="card-text card-desc">애월 남읍에 위치한 조용한 숲 속에 펼쳐진 체험 목장이다. 사람과 동물이 교감할 수 있는 자연체험 휴식처이며, 도시에서 흔히 접할 수 없는 목장체험으로 어른과 아이들 모두 색다른 경험을 할 수 있다.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 리스트 끝 -->

                                
                                

            </div>

        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- 
        ellipsify jquery 라이브러리 (말줄임 기능) 
        https://github.com/ethagnawl/ellipsify
    -->
    <script src="./../../../resources/js/jquery.ellipsify.js"></script>
    
    <script>
        $(".card-desc").ellipsify({
            count: 15 //숫자가 많을 수록 글자가 많이 노출되고 짤림
        });
    </script>

  </body>
</html>